/* BASE STYLES */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    margin: 25px 0;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin: 0 auto;
}

/* DEFAULTS */
nav div.wrap {
    padding: 0;
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

section {
    overflow: auto;
}

.wrap {
    max-width: 1280px;
    margin: 0 auto;
    padding: 50px;
}

p {
    line-height: 1.4;
}

/******HOMEPAGE******/

/*header*/
header {
    text-align: center;
    color: #ffffff;
    padding: 88px 0;
}

header img {
    margin: 0 auto;
    width: 100px;
    border: 5px solid white;
    padding: 3px;
    border-radius: 100%;
}

/* Small blue sections */
.light-blue {
    background-color: #bdd5ea;
}

/* Three-points */
.three-points-section {
    min-height: 400px;
}

.three-points-section img {
    width: 300px;
    margin: 0 auto;
    border-radius: 100%;
}

.three-points-section img:hover {
    border: 3px solid black;
}

.three-points-section-image {
    width: 40%;
    float: left;
}

.three-points-section-text {
    width: 60%;
    float: left;
    margin-top: 0;
}

/* Table */

table {
    padding: 0 80px;
}

.table-title {
    padding: 30px;
    font-size: 24px;
}

th:not(.table-title), td {
    border: 1px solid #bdd5ea;
    text-align: center;
    padding: 20px;
}

th:not(.table-title) {
    color: white;
    background-color: #495867;
}

td {
    background-color: white;
}

.button {
    background-color: #fe5f55;
    color: white;
    padding: 5px 15px;
    border-radius: 10px;
    text-decoration: none;
}

/* Schedule */
#schedule {
    padding-bottom: 20px;
}

.schedule-col1 {
    background: url('/images/swirl.png');
    display: inline-block;
    width: 48%;
    float: left;
    border: 1px solid #e9e9e9;
    margin: 6px;
    box-shadow: 3px 3px 1px #e9e9e9;
}

.schedule-col2 {
    background: url('/images/swirl.png');
    display: inline-block;
    width: 48%;
    float: right;
    border: 1px solid #e9e9e9;
    margin: 6px;
    box-shadow: 3px 3px 1px #e9e9e9;
}

.schedule-section img {
    width: 150px;
    margin: 0 auto;
    border-radius: 100px;
}

.schedule-col-day {
    text-align: center;
}

.schedule-section {
    min-height: 200px;
}

.schedule-section-image {
    width: 40%;
    float: left;
    padding-top: 20px;
}

.schedule-section-text {
    width: 60%;
    float: left;
}

/* Get Tickets Section */
#get-tickets {
    text-align: center;
}

/* Footer */

footer {
    text-align: center;
    background-color: #495867;
    color: white;
}

footer div.wrap{
    padding: 3px 0;
}

/******TICKETS******/
#tickets {
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

.input-name label {
    display: none;
}

.input-email label {
    display: none;
}

input {
    padding: 10px;
    margin-bottom: 10px;
}

select {
    padding: 10px 30px;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #fe5f55;
    border: 1px solid #e9e9e9;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
}

.form {
    background: url('/images/swirl.png');
    border: 1px solid #e9e9e9;
    box-shadow: 3px 3px 1px #e9e9e9;
    margin: 0 400px;
}